---
import TopTools from "~/components/TopTools.astro";
import shortSuttas from "../../data/short-suttas.json";
import longSuttas from "../../data/long-suttas.json";

interface Props {
  title: string;
  path?: string;
}

const { title, path } = Astro.props;
const shortCount = shortSuttas.length;
const longCount = longSuttas.length;
const description =
  "Basking in the compassion of the Buddha and his wise followers";
const siteUrl = "https://sutta.ohwowiloveit.com/";
const pageUrl = path ? siteUrl + path : siteUrl;
const imageUrl = "https://ik.imagekit.io/tvm15igl7/socials/sutta.png";
const siteName = "OhWowASutta!";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="image" content={imageUrl} />
    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />
    <meta itemprop="image" content={imageUrl} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image:alt" content={siteName} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:url" content={pageUrl} />
    <meta property="og:image:alt" content={siteName} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:type" content="article" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <TopTools shortCount={shortCount} longCount={longCount} />
    <main>
      <div id="loading-overlay" class="loading-overlay">
        <div class="loading" data-loading="Picking you a sutta...">
          Picking you a sutta...
        </div>
      </div>

      <slot />
    </main>

    <style is:global>
      :root {
        --clr-bg: 237, 242, 234;
        --clr-text-dark: 44, 44, 44;
        --clr-accent: 94, 126, 96;
        --clr-accent-dark: 49, 10, 101;
      }

      html {
        font-family: system-ui, sans-serif;
        background: rgb(var(--clr-bg));
        background-size: 224px;
        color: rgb(var(--clr-text-dark));
        font-size: 20px;
        line-height: 1.6;
      }

      main {
        margin-block: auto;
        margin-inline: 0.5rem;
        padding-block: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      h1 {
        position: relative;
        padding-bottom: 1.5rem;
        margin-top: 1rem;
        font-size: 2.7rem;
        line-height: 3.2rem;
      }

      h1::after {
        content: "";
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        right: 0;
        border-bottom: 1px dotted rgba(var(--clr-text-dark), 0.7);
      }

      a {
        color: rgb(var(--clr-accent));
      }

      @media (min-width: 560px) {
        main {
          margin: auto;
        }
      }

      .loading-overlay {
        position: fixed;
        inset: 0;
        background: rgba(var(--clr-bg), 1);
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
      }

      .loading {
        position: relative;
        width: 800px;
        max-width: calc(100% - 4rem);
        margin-inline: auto;
        margin-top: 3rem;
        color: rgba(var(--clr-accent), 1);
        font-weight: 500;
        font-size: 3em;
      }

      .loading:before {
        content: attr(data-loading);
        position: absolute;
        overflow: clip;
        max-width: 10em;
        white-space: nowrap;
        color: rgba(var(--clr-text-dark), 0.5);
        animation: loading 7s linear infinite;
      }
      @keyframes loading {
        0% {
          max-width: 0;
        }
      }
    </style>
  </body>
</html>
